*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow-x: hidden;
  text-align: center;
  background-color: #f3f4ed;
  font-family: "Roboto", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #536162;
}

#searchInput {
  padding: 0.5rem;
  margin-right: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

#restoreHideTickets {
  background: none;
  border: none;
  color: lightblue;
  font-size: 1rem;
  text-decoration: underline;
  outline: none;
}

.sort-div {
  margin: 1rem;
}

.ticket {
  padding: 1rem;
  text-align: left;
}

.ticket-buttons {
  float: right;
}

.hideTicketButton {
  display: block;
  margin: 0 auto 0.2rem auto;
  font-size: 1.2rem;
  padding: 0 0.3rem;
  background: none;
  border: 1px solid lightblue;
  border-radius: 5px;
  outline: none;
}

.show-more-span {
  position: relative;
  top: 0.4rem;
  cursor: pointer;
  color: rgb(72, 186, 224);
}

.ticket-info {
  margin: 1rem 0;
}

hr {
  margin: 2rem auto 0 auto;
  width: 20%;
  border: none;
  border-top: 8px dotted lightgray;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

li {
  border: 1px solid rgb(30, 94, 146);
  border-radius: 10px;
  padding: 0.2rem;
  background: lightblue;
}

/* Media Query */
@media (min-width: 800px) {
  #header {
    justify-content: left;
  }

  #header input {
    margin-left: 2rem;
  }

  #header .add-button {
    cursor: pointer;
  }

  #header .add-button:hover {
    color: rgb(0, 174, 255);
    transform: scale(1.2);
  }

  #header p {
    margin: auto 0 auto 20rem;
  }

  #restoreHideTickets {
    cursor: pointer;
  }

  #restoreHideTickets:active {
    color: blue;
  }

  .MuiMenu-list {
    display: block;
  }

  .tickets-div {
    width: 70%;
    margin: auto;
  }

  .ticket-buttons {
    animation: opacityAnimation 1s linear;
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hideTicketButton {
    cursor: pointer;
  }

  .hideTicketButton:hover {
    background: lightgreen;
  }

  .done-button {
    cursor: pointer;
  }

  .done-button:hover {
    box-shadow: 5px 5px 10px lightgray;
  }

  .delete-button {
    cursor: pointer;
  }

  .delete-button:hover {
    box-shadow: 5px 5px 10px lightgray;
  }

  hr {
    opacity: 0.8;
    margin: 2rem auto;
    width: 15%;
    border-top: 10px dotted lightgray;
  }
}
